<div>
  <div class="jumbotron custom-jumbotron">
    <h2>Login</h2>
    <p>Enter the registered E-mail address and the password!</p>
    <form action="">
      <div class="container">
        <p>
          E-mail <input type="text" name="email" placeholder="Confirm email address" email required>
        </p>
      </div>
      <div class="container">
        <p>
          Password <input type="password" name="password" placeholder="Password" required>
        </p>
        <button class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
